In [2]:
def les_than(num):
    for n in range(num):
        print(n)
les_than(5)

0
1
2
3
4

In [3]:
def print_student(student_name):
    marks = {'Andy':88, 'Amy':66,'James':90,'Jules':55,'Arthur':77}
    for student in marks:
        if student == student_name:
            print(marks[student])
            break
    else:
        print ('No entry with that name found.')

print_student("Andy")

88

In [15]:
sum(marks.values())/len(marks)

75.2

In [6]:
def printout(num):
    n=0
    while n<num:
        print(n, n**2)
        n+=1
    else:
        print("greater than", num)

printout(8)

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
greater than 8

In [11]:
def sumfunction(num):
    n=1
    sum=0
    while n<=num:
        sum=sum+n
        n=n+1
    print(sum)
sumfunction(2)

3

In [9]:
def range_sum(num):
    sum=1
    for n in range(num):
        sum=sum+n
    print (sum)
range_sum(10)

46

In [35]:
a_list=[]
for number in range (1,100):
    a_list += [number]

In [37]:
sum(a_list)/len(a_list)

50.0

In [36]:
sum(a_list)

4950

In [38]:
import numpy as np
std=np.std(a_list)
print(std)

28.577380332470412

In [18]:
def minimal(v1,v2,v3,v4):
    min_value=v1
    if v2< min_value:
        min_value=v2
    if v3<min_value:
        min_value=v3
    if v4<min_value:
        min_value=v4
    return min_value

In [19]:
minimal(12,4,7,20)

4

In [40]:
hello="Hello "
Im="Im "
Kennedy="Kennedy"
main_str= "Hello Im kennedy"
print(hello+Im+Kennedy)

Hello Im Kennedy